<a href="https://colab.research.google.com/github/SasiwimonV/bsc_dpdm22/blob/main/%5Bdataset1%5D_property_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Data

In [201]:
import pandas as pd

In [202]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [203]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [204]:
home = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน',skiprows=0) #เลือก ชีท บ้าน
home.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

#สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

#บ้าน

In [205]:
est1 = home[home['ID ผู้ประเมิน']==1]
est1 #100*14

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,NaN,4500000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
156,1,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,NaN,5200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
157,1,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,3600000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
158,1,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,4000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
159,1,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN

In [206]:
est1.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,6.100000e+01,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.004721e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,3.039496e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.500000e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.630000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,4.774000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

In [207]:
est1[est1['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count()

ID ผู้ประเมิน                     100
post id                           100
property_type                     100
ความมั่นใจในการเมินราคาทรัพย์     100
ราคาทรัพย์                         61
ประเมินราคาซื้อ-ขาย               100
ปัจจัยในการประเมินราคาซื้อ-ขาย    100
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    100
Unnamed: 9                          0
Unnamed: 10                         0
Unnamed: 11                         0
Unnamed: 12                         0
Unnamed: 13                         1
dtype: int64

In [208]:
est1['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

In [209]:
est1[est1['ให้คะแนนทรัพย์']=='1 ขายไม่ได้แน่นอน'].count #มี 1 คน

<bound method DataFrame.count of     ID ผู้ประเมิน                               post id property_type  \
90              1  https://nayoo.co/khonkaen/posts/5978    บ้านเดี่ยว

   ความมั่นใจในการเมินราคาทรัพย์  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย  \
90                        มั่นใจ  20949000.0           16000000.0

   ปัจจัยในการประเมินราคาซื้อ-ขาย เหตุผลไม่มั่นใจราคาประเมิน  \
90       3,000-30,000 บาท/ตารางวา                        NaN

       ให้คะแนนทรัพย์  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  \
90  1 ขายไม่ได้แน่นอน         NaN          NaN          NaN          NaN

    Unnamed: 13
90          NaN  >

In [210]:
est1[est1['ให้คะแนนทรัพย์']=='2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี'].count()

ID ผู้ประเมิน                     54
post id                           54
property_type                     54
ความมั่นใจในการเมินราคาทรัพย์     54
ราคาทรัพย์                        28
ประเมินราคาซื้อ-ขาย               54
ปัจจัยในการประเมินราคาซื้อ-ขาย    54
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    54
Unnamed: 9                         0
Unnamed: 10                        0
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        0
dtype: int64

In [211]:
est1[est1['ให้คะแนนทรัพย์']=='3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน'].count()

ID ผู้ประเมิน                     43
post id                           43
property_type                     43
ความมั่นใจในการเมินราคาทรัพย์     43
ราคาทรัพย์                        30
ประเมินราคาซื้อ-ขาย               43
ปัจจัยในการประเมินราคาซื้อ-ขาย    43
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    43
Unnamed: 9                         0
Unnamed: 10                        0
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        1
dtype: int64

In [212]:
est1[est1['ให้คะแนนทรัพย์']=='4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน'].count()

ID ผู้ประเมิน                     2
post id                           2
property_type                     2
ความมั่นใจในการเมินราคาทรัพย์     2
ราคาทรัพย์                        2
ประเมินราคาซื้อ-ขาย               2
ปัจจัยในการประเมินราคาซื้อ-ขาย    2
เหตุผลไม่มั่นใจราคาประเมิน        0
ให้คะแนนทรัพย์                    2
Unnamed: 9                        0
Unnamed: 10                       0
Unnamed: 11                       0
Unnamed: 12                       0
Unnamed: 13                       0
dtype: int64

In [213]:
est1[est1['ให้คะแนนทรัพย์']=='5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน'].count()

ID ผู้ประเมิน                     0
post id                           0
property_type                     0
ความมั่นใจในการเมินราคาทรัพย์     0
ราคาทรัพย์                        0
ประเมินราคาซื้อ-ขาย               0
ปัจจัยในการประเมินราคาซื้อ-ขาย    0
เหตุผลไม่มั่นใจราคาประเมิน        0
ให้คะแนนทรัพย์                    0
Unnamed: 9                        0
Unnamed: 10                       0
Unnamed: 11                       0
Unnamed: 12                       0
Unnamed: 13                       0
dtype: int64

In [214]:
est2 = home[home['ID ผู้ประเมิน']==2]
est2 #90*14

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,NaN,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,NaN,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [215]:
est2[est2['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count()

ID ผู้ประเมิน                     89
post id                           89
property_type                     89
ความมั่นใจในการเมินราคาทรัพย์     89
ราคาทรัพย์                        61
ประเมินราคาซื้อ-ขาย               89
ปัจจัยในการประเมินราคาซื้อ-ขาย    89
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    89
Unnamed: 9                         0
Unnamed: 10                        0
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        0
dtype: int64

In [216]:
est2[est2['ความมั่นใจในการเมินราคาทรัพย์']=='ไม่มั่นใจ'].count()

ID ผู้ประเมิน                     1
post id                           1
property_type                     1
ความมั่นใจในการเมินราคาทรัพย์     1
ราคาทรัพย์                        0
ประเมินราคาซื้อ-ขาย               0
ปัจจัยในการประเมินราคาซื้อ-ขาย    0
เหตุผลไม่มั่นใจราคาประเมิน        1
ให้คะแนนทรัพย์                    0
Unnamed: 9                        0
Unnamed: 10                       0
Unnamed: 11                       0
Unnamed: 12                       0
Unnamed: 13                       0
dtype: int64

In [217]:
est2['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

##Map Data

In [218]:
est2['ประเมิน1'] = est2['post id'].map(est1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
est2

<ipython-input-218-5722fc6584f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2['ประเมิน1'] = est2['post id'].map(est1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,NaN,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,NaN,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0

In [219]:
est2 = est2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
est2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,NaN,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,NaN,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0

In [220]:
table = est2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]

In [221]:
table = table.dropna(subset=['ราคาทรัพย์']) # row หายไป 29 row เพราะ มีค่า Nan เราไม่ fillna(0) เพราะ เวลาแทนสูตรจะหาไม่ได้

In [222]:
table

                                 post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1     https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3     https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5    https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7    https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9    https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0
..                                   ...         ...        ...        ...
113   https://nayoo.co/khonkaen/posts/23   5230000.0  5000000.0  5000000.0
115   https://nayoo.co/khonkaen/posts/28   1750000.0  1600000.0  1900000.0
187   https://nayoo.co/khonkaen/posts/20   2000000.0  3600000.0  2500000.0
188   https://nayoo.co/khonkaen/posts/31   4000000.0  4000000.0  3900000.0
189  https://nayoo.co/khonkaen/posts/570   1375000.0  1200000.0  1400000.0

[61 rows x 4 columns]

##Check Data

In [223]:
table.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [224]:
import numpy as np

##function ตรวจสอบค่าที่เติม 0 ผิด

In [225]:
def checkvalue(a, b):
  return max(a/b, b/a)

In [226]:
checkvalue(10,1200)

120.0

In [227]:
table.head()

                               post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1   https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3   https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5  https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7  https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9  https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0

##สร้าง column ใหม่ ลงในตาราง table(บ้าน) โดย ค่าใน columnใหม่ คือค่า จาก function checkvalue
(ราคาตั้งขาย,ราคาประเมิน1)

In [301]:
link = 'https://docs.google.com/spreadsheets/d/1zNhL_S76z2RUxfkm6yj6OCiasPkzxq75bk_ScB3JxCE/export?format=xlsx'
land = pd.read_excel(link,sheet_name='บ้าน')
land

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [228]:
#table['Check'] = table.apply(lambda x: checkvalue(x.ราคาทรัพย์, x.ประเมิน1), axis=1)

In [229]:
#table['Check2'] = table.apply(lambda x: checkvalue(x.ราคาทรัพย์, x.ประเมิน2), axis=1)

## For loop

In [230]:
check1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
check2 = list()
for row in table.iterrows():
    check1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    check2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
check1
check2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.0,
 1.0833333333333333,
 1.5254237288135593,
 1.1891891891891893,
 1.1,
 1.0314685314685315,
 1.050420168067227,
 1.0416666666666667,
 1.1403333333333334,
 1.0175,
 1.0476190476190477,
 1.03125,
 1.0214285714285714,
 1.0607142857142857,
 1.025,
 1.0607142857142857,
 1.0847222222222221,
 1.0371428571428571,
 1.0,
 1.125,
 1.1049723756906078,
 1.1904761904761905,
 1.0888888888888888,
 1.0054461667364893,
 1.0425531914893618,
 1.125,
 1.0434782608695652,
 1.0364145658263306,
 1.0,
 1.0324483775811208,
 1.04,
 1.2,
 1.04,
 1.1318181818181818,
 1.0,
 1.045,
 1.0526315789473684,
 3.3333333333333335,
 1.0227272727272727,
 1.04,
 1.08,
 1.2903225806451613,
 1.1219512195121952,
 1.125,
 1.2195121951219512,
 1.2322941176470588,
 1.0755555555555556,
 1.1366666666666667,
 1.0736196319018405,
 1.1,
 1.048951048951049,
 1.1111111111111112,
 1.045,
 1.0666666666666667,
 1.0435897435897437,
 1.4575,
 1.046,
 1.0857142857142856,
 1.25,
 1.0256410256410255,
 1.018181818181818]

In [231]:
table['Check1'] = check1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
table['Check2'] = check2
table

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.000000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.525424
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
113,https://nayoo.co/khonkaen/posts/23,5230000.0,5000000.0,5000000.0,1.046000,1.046000
115,https://nayoo.co/khonkaen/posts/28,1750000.0,1600000.0,1900000.0,1.093750,1.085714
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.250000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.025641
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.018182

In [232]:
table = table.sort_values(by=['Check1'],ascending=False) # Clean
table

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.250000
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,3.333333
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,4200000.0,3000000.0,1.468531,1.048951
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500
67,https://nayoo.co/khonkaen/posts/2244,2490000.0,1800000.0,2200000.0,1.383333,1.131818
...,...,...,...,...,...,...
63,https://nayoo.co/khonkaen/posts/2033,1200000.0,1200000.0,1000000.0,1.000000,1.200000
65,https://nayoo.co/khonkaen/posts/2143,5200000.0,5200000.0,5000000.0,1.000000,1.040000
43,https://nayoo.co/khonkaen/posts/1128,4200000.0,4200000.0,5000000.0,1.000000,1.190476
51,https://nayoo.co/khonkaen/posts/1149,4000000.0,4000000.0,4500000.0,1.000000,1.125000
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1200000.0,1350000.0,1.000000,1.125000

In [233]:
table = table.sort_values(by=['Check2'],ascending=False)#Clean
table

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,3.333333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.525424
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,3500000.0,4000000.0,1.129032,1.290323
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.250000
...,...,...,...,...,...,...
47,https://nayoo.co/khonkaen/posts/1135,4774000.0,5200000.0,4800000.0,1.089233,1.005446
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1500000.0,1200000.0,1.250000,1.000000
69,https://nayoo.co/khonkaen/posts/2262,3200000.0,3300000.0,3200000.0,1.031250,1.000000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1700000.0,1800000.0,1.058824,1.000000
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.000000

###def function mape
- ค่าเกิน 9,10 ก็ลบ ศูนย์ ถ้าเกิน 2 คนประเมินว่าแบบนั้นเลย

In [234]:
def mape(y_test, pred):
    y_test, pred = np.array(y_test), np.array(pred)
    mape = np.mean(np.abs((y_test - pred) / y_test))
    return mape

In [235]:
#ใช้คอลัมน์ ประเมิน 1 ,ประเมิน 2 ในการคำนวณ
#คอลัมน์ Check1,2 ไว้เช็คว่าค่าพุ่งเกินไหม
table1= table['ประเมิน1']
table2= table['ประเมิน2']
table3= table['ราคาทรัพย์']

In [236]:
mapetable = mape(table1, table2)
mapetable # ค่า mape ของผู้ประเมิน1 กับผู้ประเมิน 2
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapetable)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ 0.14843936292700438

In [237]:
mapetable2 = mape(table1, table3)
mapetable2 # ค่า mape ของผู้ประเมิน1 กับ ราคาทรัพย์
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.13745423849059654

In [238]:
mapetable3 = mape(table2, table3)
mapetable3
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.09514388806852346

#ที่ดิน

In [239]:
land = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน',skiprows=0) #เลือก ชีท ที่ดิน
land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000.0,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000.0,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000.0,3000000.0,12000-18000,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000.0,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000.0,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN

In [240]:
land.describe() #มี210 row 
#ราคาทรัพย์ max 90 ล้าน ถูกสุด 8.5 แสน ราคาทรัพย์เฉลี่ย 11 ล้าน
#ประเมินราคา max 250 ล้าน min 5 แสน เฉลี่ย 10 ล้าน

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 11,Unnamed: 12
count,210.000000,9.000000e+01,2.070000e+02,27.000000,0.0,1.0
mean,1.619048,1.120359e+07,1.000266e+07,2.481481,NaN,100.0
std,0.723904,1.900198e+07,2.511594e+07,0.509175,NaN,NaN
min,1.000000,8.500000e+05,5.000000e+05,2.000000,NaN,100.0
25%,1.000000,2.225000e+06,1.800000e+06,2.000000,NaN,100.0
50%,2.000000,4.500000e+06,3.500000e+06,2.000000,NaN,100.0
75%,2.000000,1.207500e+07,1.000000e+07,3.000000,NaN,100.0
max,4.000000,9.000000e+07,2.500000e+08,3.000000,NaN,100.0

In [241]:
land[land['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count() # มั่นใจ 207 ไม่มั่นใจ 3

ID ผู้ประเมิน                     207
post id                           207
property_type                     207
ความมั่นใจในการเมินราคาทรัพย์     207
ราคาทรัพย์                         87
ประเมินราคาซื้อ-ขาย               207
ปัจจัยในการประเมินราคาซื้อ-ขาย    207
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    207
Unnamed: 9                         27
Unnamed: 10                        27
Unnamed: 11                         0
Unnamed: 12                         1
dtype: int64

In [242]:
land['ID ผู้ประเมิน'].value_counts() #มี210 row ID[1] = 100 , ID[2] = 100, ID[4] = 10 -> ไม่ใช้ 4

1    100
2    100
4     10
Name: ID ผู้ประเมิน, dtype: int64

In [243]:
land1 = land[land['ID ผู้ประเมิน']==1]
land1.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000.0,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000.0,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000.0,18000000.0,"8,000-35,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
9,1,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000.0,35000000.0,"15,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000.0,2200000.0,"10,000-20,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN

In [244]:
land2 = land[land['ID ผู้ประเมิน']==2]
land2.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000.0,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000.0,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000.0,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000.0,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000.0,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN

## Map data

In [245]:
land2['ประเมิน1'] = land2['post id'].map(land1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
land2

<ipython-input-245-f6fe25813445>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land2['ประเมิน1'] = land2['post id'].map(land1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000.0,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,1800000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000.0,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000.0,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000.0,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000.0,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,NaN,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,NaN,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,500000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,NaN,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2000000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,NaN,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,NaN,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2500000.0

In [246]:
tableland = land2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tableland

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000.0,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,1800000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000.0,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000.0,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000.0,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000.0,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,NaN,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,NaN,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,500000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,NaN,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2000000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,NaN,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,NaN,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2500000.0

##Check Data

In [247]:
tableland.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                         True
ประเมิน2                          False
ปัจจัยในการประเมินราคาซื้อ-ขาย    False
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                    False
Unnamed: 9                         True
Unnamed: 10                        True
Unnamed: 11                        True
Unnamed: 12                        True
ประเมิน1                          False
dtype: bool

In [248]:
tableland0 = tableland[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']] # ไม่เอาประเมิน 4
tableland0

                                   post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/1033   2800000.0   1800000.0   2000000.0
4     https://nayoo.co/khonkaen/posts/1711  14900000.0   8000000.0  12000000.0
7     https://nayoo.co/khonkaen/posts/1726  90000000.0  18000000.0  70000000.0
10    https://nayoo.co/khonkaen/posts/1732  65000000.0  35000000.0  60000000.0
13    https://nayoo.co/khonkaen/posts/1866   3000000.0   2200000.0   2500000.0
..                                     ...         ...         ...         ...
200  https://nayoo.co/khonkaen/posts/14539         NaN   4000000.0   4000000.0
202  https://nayoo.co/khonkaen/posts/16072         NaN    500000.0    750000.0
204  https://nayoo.co/khonkaen/posts/17093         NaN   2000000.0   2500000.0
206  https://nayoo.co/khonkaen/posts/17112         NaN   1500000.0   1500000.0
208  https://nayoo.co/khonkaen/posts/17145         NaN   2500000.0   2800000.0

[100 rows x 4 columns]

In [249]:
tableland0.isnull().any()

post id       False
ราคาทรัพย์     True
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [250]:
tableland0 = tableland0.dropna(subset=['ราคาทรัพย์']) #ข้อมูล Nan เยอะไป dropna ทำให้ข้อมูลหายหมด

In [251]:
tableland0.isnull().any() #Clean

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [252]:
tableland0.count() #40 data

post id       40
ราคาทรัพย์    40
ประเมิน1      40
ประเมิน2      40
dtype: int64

##For loop

In [253]:
checkland1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checkland2 = list()
for row in tableland0.iterrows():
    checkland1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checkland2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checkland1
checkland2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.4,
 1.2416666666666667,
 1.2857142857142858,
 1.0833333333333333,
 1.2,
 1.2,
 1.2692307692307692,
 1.1363636363636365,
 1.2,
 1.1166666666666667,
 1.3333333333333333,
 1.0909090909090908,
 2.8125,
 1.0,
 1.0606060606060606,
 1.9166666666666667,
 1.1666666666666667,
 1.2,
 1.12,
 1.225,
 1.2375,
 1.16,
 1.01,
 1.1583333333333334,
 1.0833333333333333,
 1.1583333333333334,
 1.0968333333333333,
 1.1363636363636365,
 1.125,
 1.0625,
 1.18,
 1.25,
 1.0555555555555556,
 1.2666666666666666,
 5.294117647058823,
 1.2075,
 1.08481195462774,
 1.1,
 1.1363636363636365,
 1.2075]

In [254]:
tableland0['Check1'] = checkland1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tableland0['Check2'] = checkland2
tableland0

<ipython-input-254-c9b408b9d1aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tableland0['Check1'] = checkland1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
<ipython-input-254-c9b408b9d1aa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tableland0['Check2'] = checkland2

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/1033,2800000.0,1800000.0,2000000.0,1.555556,1.400000
4,https://nayoo.co/khonkaen/posts/1711,14900000.0,8000000.0,12000000.0,1.862500,1.241667
7,https://nayoo.co/khonkaen/posts/1726,90000000.0,18000000.0,70000000.0,5.000000,1.285714
10,https://nayoo.co/khonkaen/posts/1732,65000000.0,35000000.0,60000000.0,1.857143,1.083333
13,https://nayoo.co/khonkaen/posts/1866,3000000.0,2200000.0,2500000.0,1.363636,1.200000
16,https://nayoo.co/khonkaen/posts/1962,6000000.0,4000000.0,5000000.0,1.500000,1.200000
19,https://nayoo.co/khonkaen/posts/2007,16500000.0,3500000.0,13000000.0,4.714286,1.269231
22,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
25,https://nayoo.co/khonkaen/posts/2045,12000000.0,7500000.0,10000000.0,1.600000,1.200000
28,https://nayoo.co/khonkaen/posts/2068,6700000.0,5600000.0,6000000.0,1.196429,1.116667
31,https://nayoo.co/khonkaen/posts/2194,2400000.0,2000000.0,1800000.0,1.200000,1.333333
33,https://nayoo.co/khonkaen/posts/2206,6000000.0,5000000.0,5500000.0,1.200000,1.090909
35,https://nayoo.co/khonkaen/posts/3219,4500000.0,4000000.0,1600000.0,1.125000,2.812500
37,https://nayoo.co/khonkaen/posts/3305,14000000.0,12000000.0,14000000.0,1.166667,1.000000
39,https://nayoo.co/khonkaen/posts/3515,3300000.0,3150000.0,3500000.0,1.047619,1.060606
41,https://nayoo.co/khonkaen/posts/3601,2300000.0,1900000.0,1200000.0,1.210526,1.916667
70,https://nayoo.co/khonkaen/posts/1639,3000000.0,12000000.0,3500000.0,4.000000,1.166667
72,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
76,https://nayoo.co/khonkaen/posts/1716,28000000.0,22000000.0,25000000.0,1.272727,1.120000
78,https://nayoo.co/khonkaen/posts/3447,980000.0,1000000.0,800000.0,1.020408,1.225000
100,https://nayoo.co/khonkaen/posts/1663,1485000.0,1500000.0,1200000.0,1.010101,1.237500
102,https://nayoo.co/khonkaen/posts/1685,2900000.0,1600000.0,2500000.0,1.812500,1.160000
104,https://nayoo.co/khonkaen/posts/1921,8080000.0,2800000.0,8000000.0,2.885714,1.010000
106,https://nayoo.co/khonkaen/posts/2151,1390000.0,1000000.0,1200000.0,1.390000,1.158333
108,https://nayoo.co/khonkaen/posts/2199,1300000.0,1000000.0,1200000.0,1.300000,1.083333
110,https://nayoo.co/khonkaen/posts/3227,1390000.0,1000000.0,1200000.0,1.390000,1.158333
128,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
130,https://nayoo.co/khonkaen/posts/1599,2500000.0,2500000.0,2200000.0,1.000000,1.136364
132,https://nayoo.co/khonkaen/posts/1638,4500000.0,2000000.0,4000000.0,2.250000,1.125000
134,https://nayoo.co/khonkaen/posts/1828,850000.0,1000000.0,800000.0,1.176471,1.062500
136,https://nayoo.co/khonkaen/posts/2499,5900000.0,5200000.0,5000000.0,1.134615,1.180000
138,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
140,https://nayoo.co/khonkaen/posts/3196,950000.0,800000.0,900000.0,1.187500,1.055556
142,https://nayoo.co/khonkaen/posts/3239,1900000.0,1200000.0,1500000.0,1.583333,1.266667
144,https://nayoo.co/khonkaen/posts/3341,1700000.0,1600000.0,9000000.0,1.062500,5.294118
146,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
148,https://nayoo.co/khonkaen/posts/3561,7374550.0,6000000.0,8000000.0,1.229092,1.084812
150,https://nayoo.co/khonkaen/posts/3576,2000000.0,1600000.0,2200000.0,1.250000,1.100000
152,https://nayoo.co/khonkaen/posts/3593,2500000.0,3200000.0,2200000.0,1.280000,1.136364
154,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500

In [255]:
tableland0= tableland0.sort_values(by=['Check1'],ascending=False) # Clean
tableland0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
7,https://nayoo.co/khonkaen/posts/1726,90000000.0,18000000.0,70000000.0,5.000000,1.285714
19,https://nayoo.co/khonkaen/posts/2007,16500000.0,3500000.0,13000000.0,4.714286,1.269231
70,https://nayoo.co/khonkaen/posts/1639,3000000.0,12000000.0,3500000.0,4.000000,1.166667
104,https://nayoo.co/khonkaen/posts/1921,8080000.0,2800000.0,8000000.0,2.885714,1.010000
132,https://nayoo.co/khonkaen/posts/1638,4500000.0,2000000.0,4000000.0,2.250000,1.125000
4,https://nayoo.co/khonkaen/posts/1711,14900000.0,8000000.0,12000000.0,1.862500,1.241667
10,https://nayoo.co/khonkaen/posts/1732,65000000.0,35000000.0,60000000.0,1.857143,1.083333
102,https://nayoo.co/khonkaen/posts/1685,2900000.0,1600000.0,2500000.0,1.812500,1.160000
25,https://nayoo.co/khonkaen/posts/2045,12000000.0,7500000.0,10000000.0,1.600000,1.200000
142,https://nayoo.co/khonkaen/posts/3239,1900000.0,1200000.0,1500000.0,1.583333,1.266667
1,https://nayoo.co/khonkaen/posts/1033,2800000.0,1800000.0,2000000.0,1.555556,1.400000
16,https://nayoo.co/khonkaen/posts/1962,6000000.0,4000000.0,5000000.0,1.500000,1.200000
106,https://nayoo.co/khonkaen/posts/2151,1390000.0,1000000.0,1200000.0,1.390000,1.158333
110,https://nayoo.co/khonkaen/posts/3227,1390000.0,1000000.0,1200000.0,1.390000,1.158333
13,https://nayoo.co/khonkaen/posts/1866,3000000.0,2200000.0,2500000.0,1.363636,1.200000
108,https://nayoo.co/khonkaen/posts/2199,1300000.0,1000000.0,1200000.0,1.300000,1.083333
152,https://nayoo.co/khonkaen/posts/3593,2500000.0,3200000.0,2200000.0,1.280000,1.136364
76,https://nayoo.co/khonkaen/posts/1716,28000000.0,22000000.0,25000000.0,1.272727,1.120000
138,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
150,https://nayoo.co/khonkaen/posts/3576,2000000.0,1600000.0,2200000.0,1.250000,1.100000
148,https://nayoo.co/khonkaen/posts/3561,7374550.0,6000000.0,8000000.0,1.229092,1.084812
41,https://nayoo.co/khonkaen/posts/3601,2300000.0,1900000.0,1200000.0,1.210526,1.916667
146,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
154,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500
72,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
33,https://nayoo.co/khonkaen/posts/2206,6000000.0,5000000.0,5500000.0,1.200000,1.090909
31,https://nayoo.co/khonkaen/posts/2194,2400000.0,2000000.0,1800000.0,1.200000,1.333333
28,https://nayoo.co/khonkaen/posts/2068,6700000.0,5600000.0,6000000.0,1.196429,1.116667
140,https://nayoo.co/khonkaen/posts/3196,950000.0,800000.0,900000.0,1.187500,1.055556
134,https://nayoo.co/khonkaen/posts/1828,850000.0,1000000.0,800000.0,1.176471,1.062500
37,https://nayoo.co/khonkaen/posts/3305,14000000.0,12000000.0,14000000.0,1.166667,1.000000
22,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
136,https://nayoo.co/khonkaen/posts/2499,5900000.0,5200000.0,5000000.0,1.134615,1.180000
35,https://nayoo.co/khonkaen/posts/3219,4500000.0,4000000.0,1600000.0,1.125000,2.812500
128,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
144,https://nayoo.co/khonkaen/posts/3341,1700000.0,1600000.0,9000000.0,1.062500,5.294118
39,https://nayoo.co/khonkaen/posts/3515,3300000.0,3150000.0,3500000.0,1.047619,1.060606
78,https://nayoo.co/khonkaen/posts/3447,980000.0,1000000.0,800000.0,1.020408,1.225000
100,https://nayoo.co/khonkaen/posts/1663,1485000.0,1500000.0,1200000.0,1.010101,1.237500
130,https://nayoo.co/khonkaen/posts/1599,2500000.0,2500000.0,2200000.0,1.000000,1.136364

In [256]:
tableland0 = tableland0.sort_values(by=['Check2'],ascending=False) #148 not clean 0 เกินมา 1 ตัว
tableland0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
144,https://nayoo.co/khonkaen/posts/3341,1700000.0,1600000.0,9000000.0,1.062500,5.294118
35,https://nayoo.co/khonkaen/posts/3219,4500000.0,4000000.0,1600000.0,1.125000,2.812500
41,https://nayoo.co/khonkaen/posts/3601,2300000.0,1900000.0,1200000.0,1.210526,1.916667
1,https://nayoo.co/khonkaen/posts/1033,2800000.0,1800000.0,2000000.0,1.555556,1.400000
31,https://nayoo.co/khonkaen/posts/2194,2400000.0,2000000.0,1800000.0,1.200000,1.333333
7,https://nayoo.co/khonkaen/posts/1726,90000000.0,18000000.0,70000000.0,5.000000,1.285714
19,https://nayoo.co/khonkaen/posts/2007,16500000.0,3500000.0,13000000.0,4.714286,1.269231
142,https://nayoo.co/khonkaen/posts/3239,1900000.0,1200000.0,1500000.0,1.583333,1.266667
138,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
4,https://nayoo.co/khonkaen/posts/1711,14900000.0,8000000.0,12000000.0,1.862500,1.241667
100,https://nayoo.co/khonkaen/posts/1663,1485000.0,1500000.0,1200000.0,1.010101,1.237500
78,https://nayoo.co/khonkaen/posts/3447,980000.0,1000000.0,800000.0,1.020408,1.225000
146,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
154,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500
13,https://nayoo.co/khonkaen/posts/1866,3000000.0,2200000.0,2500000.0,1.363636,1.200000
72,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
16,https://nayoo.co/khonkaen/posts/1962,6000000.0,4000000.0,5000000.0,1.500000,1.200000
25,https://nayoo.co/khonkaen/posts/2045,12000000.0,7500000.0,10000000.0,1.600000,1.200000
136,https://nayoo.co/khonkaen/posts/2499,5900000.0,5200000.0,5000000.0,1.134615,1.180000
70,https://nayoo.co/khonkaen/posts/1639,3000000.0,12000000.0,3500000.0,4.000000,1.166667
102,https://nayoo.co/khonkaen/posts/1685,2900000.0,1600000.0,2500000.0,1.812500,1.160000
110,https://nayoo.co/khonkaen/posts/3227,1390000.0,1000000.0,1200000.0,1.390000,1.158333
106,https://nayoo.co/khonkaen/posts/2151,1390000.0,1000000.0,1200000.0,1.390000,1.158333
22,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
130,https://nayoo.co/khonkaen/posts/1599,2500000.0,2500000.0,2200000.0,1.000000,1.136364
152,https://nayoo.co/khonkaen/posts/3593,2500000.0,3200000.0,2200000.0,1.280000,1.136364
132,https://nayoo.co/khonkaen/posts/1638,4500000.0,2000000.0,4000000.0,2.250000,1.125000
76,https://nayoo.co/khonkaen/posts/1716,28000000.0,22000000.0,25000000.0,1.272727,1.120000
28,https://nayoo.co/khonkaen/posts/2068,6700000.0,5600000.0,6000000.0,1.196429,1.116667
150,https://nayoo.co/khonkaen/posts/3576,2000000.0,1600000.0,2200000.0,1.250000,1.100000
128,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
33,https://nayoo.co/khonkaen/posts/2206,6000000.0,5000000.0,5500000.0,1.200000,1.090909
148,https://nayoo.co/khonkaen/posts/3561,7374550.0,6000000.0,8000000.0,1.229092,1.084812
108,https://nayoo.co/khonkaen/posts/2199,1300000.0,1000000.0,1200000.0,1.300000,1.083333
10,https://nayoo.co/khonkaen/posts/1732,65000000.0,35000000.0,60000000.0,1.857143,1.083333
134,https://nayoo.co/khonkaen/posts/1828,850000.0,1000000.0,800000.0,1.176471,1.062500
39,https://nayoo.co/khonkaen/posts/3515,3300000.0,3150000.0,3500000.0,1.047619,1.060606
140,https://nayoo.co/khonkaen/posts/3196,950000.0,800000.0,900000.0,1.187500,1.055556
104,https://nayoo.co/khonkaen/posts/1921,8080000.0,2800000.0,8000000.0,2.885714,1.010000
37,https://nayoo.co/khonkaen/posts/3305,14000000.0,12000000.0,14000000.0,1.166667,1.000000

In [257]:
tableland0.iloc[0, 3]
missing = tableland0.iloc[0, 3]
missing1 = missing/10 
missing1

900000.0

In [258]:
tableland0.iloc[0, 3] = missing1

In [259]:
tableland0 #clean

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
144,https://nayoo.co/khonkaen/posts/3341,1700000.0,1600000.0,900000.0,1.062500,5.294118
35,https://nayoo.co/khonkaen/posts/3219,4500000.0,4000000.0,1600000.0,1.125000,2.812500
41,https://nayoo.co/khonkaen/posts/3601,2300000.0,1900000.0,1200000.0,1.210526,1.916667
1,https://nayoo.co/khonkaen/posts/1033,2800000.0,1800000.0,2000000.0,1.555556,1.400000
31,https://nayoo.co/khonkaen/posts/2194,2400000.0,2000000.0,1800000.0,1.200000,1.333333
7,https://nayoo.co/khonkaen/posts/1726,90000000.0,18000000.0,70000000.0,5.000000,1.285714
19,https://nayoo.co/khonkaen/posts/2007,16500000.0,3500000.0,13000000.0,4.714286,1.269231
142,https://nayoo.co/khonkaen/posts/3239,1900000.0,1200000.0,1500000.0,1.583333,1.266667
138,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
4,https://nayoo.co/khonkaen/posts/1711,14900000.0,8000000.0,12000000.0,1.862500,1.241667
100,https://nayoo.co/khonkaen/posts/1663,1485000.0,1500000.0,1200000.0,1.010101,1.237500
78,https://nayoo.co/khonkaen/posts/3447,980000.0,1000000.0,800000.0,1.020408,1.225000
146,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
154,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500
13,https://nayoo.co/khonkaen/posts/1866,3000000.0,2200000.0,2500000.0,1.363636,1.200000
72,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
16,https://nayoo.co/khonkaen/posts/1962,6000000.0,4000000.0,5000000.0,1.500000,1.200000
25,https://nayoo.co/khonkaen/posts/2045,12000000.0,7500000.0,10000000.0,1.600000,1.200000
136,https://nayoo.co/khonkaen/posts/2499,5900000.0,5200000.0,5000000.0,1.134615,1.180000
70,https://nayoo.co/khonkaen/posts/1639,3000000.0,12000000.0,3500000.0,4.000000,1.166667
102,https://nayoo.co/khonkaen/posts/1685,2900000.0,1600000.0,2500000.0,1.812500,1.160000
110,https://nayoo.co/khonkaen/posts/3227,1390000.0,1000000.0,1200000.0,1.390000,1.158333
106,https://nayoo.co/khonkaen/posts/2151,1390000.0,1000000.0,1200000.0,1.390000,1.158333
22,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
130,https://nayoo.co/khonkaen/posts/1599,2500000.0,2500000.0,2200000.0,1.000000,1.136364
152,https://nayoo.co/khonkaen/posts/3593,2500000.0,3200000.0,2200000.0,1.280000,1.136364
132,https://nayoo.co/khonkaen/posts/1638,4500000.0,2000000.0,4000000.0,2.250000,1.125000
76,https://nayoo.co/khonkaen/posts/1716,28000000.0,22000000.0,25000000.0,1.272727,1.120000
28,https://nayoo.co/khonkaen/posts/2068,6700000.0,5600000.0,6000000.0,1.196429,1.116667
150,https://nayoo.co/khonkaen/posts/3576,2000000.0,1600000.0,2200000.0,1.250000,1.100000
128,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
33,https://nayoo.co/khonkaen/posts/2206,6000000.0,5000000.0,5500000.0,1.200000,1.090909
148,https://nayoo.co/khonkaen/posts/3561,7374550.0,6000000.0,8000000.0,1.229092,1.084812
108,https://nayoo.co/khonkaen/posts/2199,1300000.0,1000000.0,1200000.0,1.300000,1.083333
10,https://nayoo.co/khonkaen/posts/1732,65000000.0,35000000.0,60000000.0,1.857143,1.083333
134,https://nayoo.co/khonkaen/posts/1828,850000.0,1000000.0,800000.0,1.176471,1.062500
39,https://nayoo.co/khonkaen/posts/3515,3300000.0,3150000.0,3500000.0,1.047619,1.060606
140,https://nayoo.co/khonkaen/posts/3196,950000.0,800000.0,900000.0,1.187500,1.055556
104,https://nayoo.co/khonkaen/posts/1921,8080000.0,2800000.0,8000000.0,2.885714,1.010000
37,https://nayoo.co/khonkaen/posts/3305,14000000.0,12000000.0,14000000.0,1.166667,1.000000

###def function mape
- ค่าเกิน 9,10 ก็ลบ ศูนย์ ถ้าเกิน 2 คนประเมินว่าแบบนั้นเลย

In [260]:
#ใช้คอลัมน์ ประเมิน 1 ,ประเมิน 2 ในการคำนวณ
#คอลัมน์ Check1,2 ไว้เช็คว่าค่าพุ่งเกินไหม
tableland1= tableland0['ประเมิน1']
tableland2= tableland0['ประเมิน2']
tableland3= tableland0['ราคาทรัพย์']

In [261]:
mapetable = mape(tableland3, tableland1)
mapetable # ค่า mape ของผู้ประเมิน1 กับผู้ประเมิน 2
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapetable)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ 0.32477881661863095

In [262]:
mapetable2 = mape(tableland3, tableland2)
mapetable2 # ค่า mape ของผู้ประเมิน1 กับ ราคาทรัพย์
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.16690769318722384

In [263]:
mapetable3 = mape(tableland2, tableland3)
mapetable3
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.24011957176504053

#ทาวน์โฮม

In [264]:
townh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม',skiprows=0) #เลือก ชีท ที่ดิน
townh

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,NaN,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,NaN,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [265]:
townh.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,240.000000,1.220000e+02,2.400000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.500000,2.011066e+06,1.827917e+06,NaN,NaN,NaN,NaN,120.0
std,0.501045,9.274469e+05,7.870919e+05,NaN,NaN,NaN,NaN,NaN
min,1.000000,6.050000e+05,3.500000e+05,NaN,NaN,NaN,NaN,120.0
25%,1.000000,1.287000e+06,1.300000e+06,NaN,NaN,NaN,NaN,120.0
50%,1.500000,1.750000e+06,1.650000e+06,NaN,NaN,NaN,NaN,120.0
75%,2.000000,2.590000e+06,2.350000e+06,NaN,NaN,NaN,NaN,120.0
max,2.000000,4.730000e+06,4.200000e+06,NaN,NaN,NaN,NaN,120.0

In [266]:
townh[townh['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count() #มั่นใจทุกคน

ID ผู้ประเมิน                     240
post id                           240
property_type                     240
ความมั่นใจในการเมินราคาทรัพย์     240
ราคาทรัพย์                        122
ประเมินราคาซื้อ-ขาย               240
ปัจจัยในการประเมินราคาซื้อ-ขาย    240
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    240
Unnamed: 9                          0
Unnamed: 10                         0
Unnamed: 11                         0
Unnamed: 12                         1
dtype: int64

In [267]:
townh['ID ผู้ประเมิน'].value_counts()

1    120
2    120
Name: ID ผู้ประเมิน, dtype: int64

In [268]:
townh1 = townh[townh['ID ผู้ประเมิน']==1]
townh1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,1000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,NaN,1000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
126,1,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,NaN,1500000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
127,1,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,NaN,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
128,1,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,NaN,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
129,1,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [269]:
townh2 = townh[townh['ID ผู้ประเมิน']==2]
townh2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,NaN,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,NaN,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

##Map Data

In [270]:
townh2['ประเมิน1'] = townh2['post id'].map(townh1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
townh2

<ipython-input-270-891188a31380>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townh2['ประเมิน1'] = townh2['post id'].map(townh1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,NaN,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,NaN,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1700000.0

In [271]:
townh2 = townh2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
townh2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,NaN,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,NaN,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,NaN,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1700000.0

In [272]:
tabletown = townh2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
tabletown

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1      https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3      https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5      https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7      https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9      https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0
..                                     ...         ...        ...        ...
235  https://nayoo.co/khonkaen/posts/18547         NaN  1000000.0  1200000.0
236  https://nayoo.co/khonkaen/posts/18551         NaN  1500000.0  1700000.0
237  https://nayoo.co/khonkaen/posts/19434         NaN  1600000.0  1900000.0
238  https://nayoo.co/khonkaen/posts/19501         NaN  1600000.0  1700000.0
239  https://nayoo.co/khonkaen/posts/20367         NaN  1700000.0  1700000.0

[120 rows x 4 columns]

##Check Data

In [273]:
tabletown.isnull().any()

post id       False
ราคาทรัพย์     True
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [274]:
tabletown = tabletown.dropna(subset=['ราคาทรัพย์']) #row หายไป 59 row หลัง dropna
tabletown

                                  post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1     https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3     https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5     https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7     https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9     https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0
..                                    ...         ...        ...        ...
176  https://nayoo.co/khonkaen/posts/3528   2190000.0   350000.0   400000.0
177  https://nayoo.co/khonkaen/posts/3599   1700000.0  1800000.0  1700000.0
178  https://nayoo.co/khonkaen/posts/3661   1900000.0  2000000.0  1900000.0
179  https://nayoo.co/khonkaen/posts/3719   1550000.0  1400000.0  1500000.0
196   https://nayoo.co/khonkaen/posts/616   1540000.0  1500000.0  1500000.0

[61 rows x 4 columns]

##For loop

In [275]:
checktown1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checktown2 = list()
for row in tabletown.iterrows():
    checktown1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checktown2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checktown1
checktown2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.4354066985645932,
 1.6042780748663101,
 1.1363636363636365,
 1.203125,
 1.2375,
 1.134375,
 1.1,
 1.144,
 1.1825,
 1.0620689655172413,
 1.1,
 1.144,
 1.43,
 1.0371428571428571,
 1.1,
 1.375,
 1.0266666666666666,
 1.05,
 1.0725,
 1.4450867052023122,
 1.1,
 1.0743801652892562,
 1.1916666666666667,
 1.03125,
 1.12,
 1.0294117647058822,
 1.0666666666666667,
 1.0119047619047619,
 1.1083333333333334,
 1.037037037037037,
 1.0043668122270741,
 1.0,
 1.0,
 1.04,
 1.036,
 1.0833333333333333,
 1.0112359550561798,
 1.0,
 1.004566210045662,
 1.0692307692307692,
 1.0784313725490196,
 1.0714285714285714,
 1.00625,
 1.0357142857142858,
 1.0,
 1.0357142857142858,
 1.0416666666666667,
 1.0826086956521739,
 1.0692307692307692,
 1.0391304347826087,
 1.0217391304347827,
 1.0294117647058822,
 1.0,
 1.1214953271028036,
 1.004566210045662,
 1.0,
 5.475,
 1.0,
 1.0,
 1.0333333333333334,
 1.0266666666666666]

In [276]:
tabletown['Check1'] = checktown1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tabletown['Check2'] = checktown2
tabletown

<ipython-input-276-171c23031061>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabletown['Check1'] = checktown1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
<ipython-input-276-171c23031061>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabletown['Check2'] = checktown2

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
3,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
5,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0,1.005714,1.136364
7,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0,1.100000,1.203125
9,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0,1.010101,1.237500
...,...,...,...,...,...,...
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
177,https://nayoo.co/khonkaen/posts/3599,1700000.0,1800000.0,1700000.0,1.058824,1.000000
178,https://nayoo.co/khonkaen/posts/3661,1900000.0,2000000.0,1900000.0,1.052632,1.000000
179,https://nayoo.co/khonkaen/posts/3719,1550000.0,1400000.0,1500000.0,1.107143,1.033333
196,https://nayoo.co/khonkaen/posts/616,1540000.0,1500000.0,1500000.0,1.026667,1.026667

In [277]:
tabletown= tabletown.sort_values(by=['Check1'],ascending=False) # Clean
tabletown

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
132,https://nayoo.co/khonkaen/posts/619,1430000.0,950000.0,1000000.0,1.505263,1.430000
1,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
174,https://nayoo.co/khonkaen/posts/3478,2190000.0,1500000.0,2200000.0,1.460000,1.004566
135,https://nayoo.co/khonkaen/posts/652,1100000.0,800000.0,800000.0,1.375000,1.375000
...,...,...,...,...,...,...
9,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0,1.010101,1.237500
133,https://nayoo.co/khonkaen/posts/642,3630000.0,3600000.0,3500000.0,1.008333,1.037143
162,https://nayoo.co/khonkaen/posts/2242,1610000.0,1600000.0,1600000.0,1.006250,1.006250
5,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0,1.005714,1.136364
167,https://nayoo.co/khonkaen/posts/2829,2490000.0,2500000.0,2300000.0,1.004016,1.082609

In [278]:
tabletown= tabletown.sort_values(by=['Check2'],ascending=False) # Clean
tabletown

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
3,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
139,https://nayoo.co/khonkaen/posts/705,1038000.0,1200000.0,1500000.0,1.156069,1.445087
1,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
132,https://nayoo.co/khonkaen/posts/619,1430000.0,950000.0,1000000.0,1.505263,1.430000
...,...,...,...,...,...,...
164,https://nayoo.co/khonkaen/posts/2248,1200000.0,1500000.0,1200000.0,1.250000,1.000000
157,https://nayoo.co/khonkaen/posts/2185,2600000.0,2500000.0,2600000.0,1.040000,1.000000
152,https://nayoo.co/khonkaen/posts/2011,1100000.0,900000.0,1100000.0,1.222222,1.000000
177,https://nayoo.co/khonkaen/posts/3599,1700000.0,1800000.0,1700000.0,1.058824,1.000000
172,https://nayoo.co/khonkaen/posts/3394,1200000.0,1300000.0,1200000.0,1.083333,1.000000

###def function mape

In [279]:
tabletown1 = tabletown['ประเมิน1']
tabletown2 = tabletown['ประเมิน2']
tabletown3 = tabletown['ราคาทรัพย์']

In [280]:
mapetown1 = mape(tabletown1, tabletown2)
mapetown1 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapetown1)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ 0.12553213977323965

In [281]:
mapetown2 = mape(tabletown1, tabletown3)
mapetown2 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetown2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.20119357796868997

In [282]:
mapetown3 = mape(tabletown2, tabletown3)
mapetown3 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetown3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.15838059290617415

#อาคารพาณิชย์

In [283]:
build= pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์',skiprows=0) #เลือก ชีท อาคารพาณิชย์
build

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
10,1,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,3600000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
14,1,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,3800000.0,"8,000-40,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
16,1,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,7000000.0,"15,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
18,1,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,8000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN

In [284]:
build.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,20.000000,2.000000e+01,2.000000e+01,0.0,20.000000,0.0,0.0,1.0
mean,1.500000,7.710000e+06,6.935000e+06,NaN,2.750000,NaN,NaN,10.0
std,0.512989,5.768052e+06,4.646818e+06,NaN,0.850696,NaN,NaN,NaN
min,1.000000,2.400000e+06,2.100000e+06,NaN,2.000000,NaN,NaN,10.0
25%,1.000000,3.900000e+06,3.750000e+06,NaN,2.000000,NaN,NaN,10.0
50%,1.500000,6.000000e+06,5.500000e+06,NaN,2.500000,NaN,NaN,10.0
75%,2.000000,9.000000e+06,8.500000e+06,NaN,3.250000,NaN,NaN,10.0
max,2.000000,2.250000e+07,2.000000e+07,NaN,4.000000,NaN,NaN,10.0

In [285]:
build[build['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count() #มั่นใจทุกคน 20 คน

ID ผู้ประเมิน                     20
post id                           20
property_type                     20
ความมั่นใจในการเมินราคาทรัพย์     20
ราคาทรัพย์                        20
ประเมินราคาซื้อ-ขาย               20
ปัจจัยในการประเมินราคาซื้อ-ขาย    20
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    20
Unnamed: 9                        20
Unnamed: 10                       20
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        1
dtype: int64

In [286]:
build1 = build[build['ID ผู้ประเมิน']==1]
build1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
10,1,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,3600000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
14,1,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,3800000.0,"8,000-40,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
16,1,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,7000000.0,"15,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
18,1,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,8000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN

In [287]:
build2 = build[build['ID ผู้ประเมิน']==2]
build2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN

##Map Data

In [288]:
build2['ประเมิน1'] = build2['post id'].map(build1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
build2

<ipython-input-288-7b4bae19d817>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  build2['ประเมิน1'] = build2['post id'].map(build1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,6000000.0
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,12000000.0
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,13500000.0
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,4000000.0
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2200000.0
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3600000.0
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2500000.0
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3800000.0
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,7000000.0
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,8000000.0

In [289]:
tablebuild = build2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tablebuild

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,6000000.0
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,12000000.0
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,13500000.0
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,4000000.0
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2200000.0
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3600000.0
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2500000.0
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3800000.0
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,7000000.0
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,8000000.0

In [290]:
tablebuild0 = tablebuild[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
tablebuild0

                                post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/6   7000000.0   6000000.0   8000000.0
3    https://nayoo.co/khonkaen/posts/17  12000000.0  12000000.0  12000000.0
5    https://nayoo.co/khonkaen/posts/21  22500000.0  13500000.0  20000000.0
7    https://nayoo.co/khonkaen/posts/22   3500000.0   4000000.0   4000000.0
9    https://nayoo.co/khonkaen/posts/24   3900000.0   2200000.0   3000000.0
11   https://nayoo.co/khonkaen/posts/30   4800000.0   3600000.0   4000000.0
13   https://nayoo.co/khonkaen/posts/35   2400000.0   2500000.0   2100000.0
15  https://nayoo.co/khonkaen/posts/497   5000000.0   3800000.0   5000000.0
17  https://nayoo.co/khonkaen/posts/498   7000000.0   7000000.0   8000000.0
19  https://nayoo.co/khonkaen/posts/499   9000000.0   8000000.0  10000000.0

##Check Data

In [291]:
tablebuild0.isnull().any() #Clean

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

##For loop

In [292]:
checkbuild1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checkbuild2 = list()
for row in tablebuild0.iterrows():
    checkbuild1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checkbuild2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checkbuild1 
checkbuild2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.1428571428571428,
 1.0,
 1.125,
 1.1428571428571428,
 1.3,
 1.2,
 1.1428571428571428,
 1.0,
 1.1428571428571428,
 1.1111111111111112]

In [293]:
tablebuild0['Check1'] = checkbuild1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tablebuild0['Check2'] = checkbuild2
tablebuild0

<ipython-input-293-78258b8e5f3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tablebuild0['Check1'] = checkbuild1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
<ipython-input-293-78258b8e5f3a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tablebuild0['Check2'] = checkbuild2

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
11,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
15,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111

In [294]:
tablebuild0= tablebuild0.sort_values(by=['Check1'],ascending=False) # Clean
tablebuild0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
11,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
15,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
1,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857

In [295]:
tablebuild0= tablebuild0.sort_values(by=['Check2'],ascending=False) # Clean
tablebuild0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
11,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
1,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
17,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857
5,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
19,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111
15,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000

###def function mape

In [296]:
tablebuild1 = tablebuild0['ประเมิน1']
tablebuild2 = tablebuild0['ประเมิน2']
tablebuild3 = tablebuild0['ราคาทรัพย์']

In [297]:
mapebuild1 = mape(tablebuild1, tablebuild2)
mapebuild1 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapebuild1)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ 0.2158208906103643

In [298]:
mapebuild2 = mape(tablebuild1, tablebuild3)
mapebuild2 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapebuild2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.254518341307815

In [299]:
mapebuild3 = mape(tablebuild2, tablebuild3)
mapebuild3
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapebuild3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.12428571428571429